<body>
  <br />

  <div class="container">
    <h2 class="title" style="text-align: center">
      Productos de Refrigeracion
    </h2>
  </div>

  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div>
    <div>
      <h3 style="text-align: CENTER">Compra de productos de refrigeracion</h3>


      <div class="container">

        <div style="color: white" class="row">
          <div style="text-align: center">

            <br />
            <br />
            <br />
            <br />
            <table class="table table-image">
              <thead>
                <tr>
                  <th style="color: white" scope="col">Descripcion</th>
                  <th style="color: white" scope="col">Sobre piso</th>
                  <th style="color: white" scope="col">En vacio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="color: white; font-size: larger">
                    2200 a 3000 frigorias
                  </td>
                  <td style="color: white; font-size: larger">$11.200</td>
                  <td style="color: white; font-size: larger">$16.000</td>
                </tr>

                <tr>
                  <td style="color: white; font-size: larger">
                    3000 a 4500 frigorias
                  </td>
                  <td style="color: white; font-size: larger">$11.900</td>
                  <td style="color: white; font-size: larger">$17.000</td>
                </tr>
                <tr>
                  <td style="color: white; font-size: larger">
                    4500 a 6000 frigorias
                  </td>
                  <td style="color: white; font-size: larger">$14.875</td>
                  <td style="color: white; font-size: larger">$6.000</td>
                </tr>
                <tr>
                  <td style="color: white; font-size: larger">
                    Revision + carga de gas
                  </td>
                  <td style="color: white; font-size: larger">$6.000</td>
                  <td style="color: white; font-size: larger">$8.000</td>
                </tr>
                <tr>
                  <td style="color: white; font-size: larger">Visita</td>
                  <td style="color: white; font-size: larger;padding-left: 15%;">$600</td>
                  <td style="color: white; font-size: larger"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="form-button mt-3" style="text-align: center">
        >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /><a
          href="https://api.whatsapp.com/send?phone=+541126518411&text= Hola, estoy interesado con la instalacion de aires acondicionados. %0D%0A Muchas gracias."
          class="fab" target="_blank">
          <i class="fa fa-whatsapp my-float">HACE TU CONSULTA</i>
        </a>
      </div>

      <br />
      <br />
    </div>
  </div>
</body>