

    
    <footer class="footer text-center">

        <div class="row">
            <!-- Footer Location-->
            
            <!-- Footer Social Icons-->
            <!-- <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Proximamente</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> 
            </div> -->
            <!-- Footer About Text-->
            <div class="container">
                <h4 class="text-uppercase mb-4">mas de 20 años en la industria</h4>
                <!-- <p class="lead mb-0">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /><a
                    href="https://api.whatsapp.com/send?phone=+541126518411&text=Hola, estoy interesado en sus servicios muchas gracias."
                    class="fab" target="_blank">
                    <i class="fa fa-whatsapp my-float">Consulta lo que necesites</i>
                  </a>
                </p> -->
            </div>
        </div>

</footer>

