<body>
  <br />

  <div class="container">
    <h2 class="presentacion" style="text-align: center">
      Productos de Refrigeracion
    </h2>
  </div>

  <ngx-spinner
        bdColor="rgba(0, 0, 0, 1)"
        template="<img src='https://media3.giphy.com/media/ycfHiJV6WZnQDFjSWH/giphy.gif?cid=ecf05e47l1aof4gzmtyeryixu0ndgrfdz545xryot6axd2qk&rid=giphy.gif&ct=g' />"
      >
      </ngx-spinner>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div>
    <div>
      <h3 style="text-align: CENTER">Compra de productos de refrigeracion </h3>
     
      <br />
      <br />
      
      <div class="container">
       
        <div style="color: white" class="row">
          <div style="text-align: center">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th style="color: white; text-align: center" scope="col">
                    Image
                  </th>
                  <th style="color: white; text-align: center" scope="col">
                    Articulo
                  </th>
                  <th style="color: white; text-align: center" scope="col">
                    Precio
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productosRefrigeracion">
                  <td class="w-25">
                    <img style="display: block;
                    margin: 0 auto;" src="{{producto.img}}" width="100px" height="100px"  />
                  </td>
                  <td style="color: white; font-size: larger ; text-align: center">
                    {{ producto.descripcion }}
                  </td>
                  <td style="color: white; font-size: larger; text-align: center ">
                    {{ producto.precio | currency }}
                    
                  </td>
                  <td>
                    <label class="toggler-wrapper style-1">
                      <input type="checkbox"  [checked]="false"
                      [value]="producto.descripcion" (change)="onChangeCheck($event)">
                      <div class="toggler-slider">
                        <div class="toggler-knob"></div>
                      </div>
                    </label>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="form-button mt-3" style="text-align: center">
        ><link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
        /><a
          href="https://api.whatsapp.com/send?phone=+541126518411&text= Hola, estoy interesado en el/los siguientes productos: {{mensajeFinal}} %0D%0A muchas gracias."
          class="fab"
          target="_blank"
        >
          <i class="fa fa-whatsapp my-float">CONSULTA STOCK</i>
        </a>
      </div>

      <br />
      <br />
    </div>
  </div>
</body>
