<h1 class="tittle">Lo mejor para tus mascotas</h1>

<div class="container">
  <tr>
    <td>
      <form class="row row-cols-sm-auto">
        <div class="form-body">
          <div class="row">
            <div class="form-holder">
              <div class="form-content">
                <div class="form-items">
                  <h3>Lavado y traslado</h3>
                  <!-- <p>Necesitas trasladar a tu o mascota</p> -->
                  <label>Ingresa tu nombre y disponibilidad</label>
                  <form class="requires-validation" novalidate>
                    <div class="col-md-12">
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="modelName"
                        (ngModelChange)="valorInputName($event)"
                        name="name"
                        placeholder="Nombre"
                        required
                      />
                    </div>

                    <div style="margin-top: 16px" class="col-md-12">
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="Selecciona disponibilidad"
                          name="dp"
                          [(ngModel)]="model"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          (ngModelChange)="valorInput($event)"
                        />
                        <br />
                        <button
                          class="btn btn-outline-secondary calendar"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i class="fa-duotone fa-calendar-minus"></i>
                        </button>
                      </div>
                    </div>

                    <div class="form-button mt-3">
                      <i
                        style="
                          margin-left: 20%;
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                            Arial, sans-serif;
                          font-size: large;
                        "
                        >Envianos tu consulta</i
                      ><link
                        rel="stylesheet"
                        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
                      /><a
                        href="https://api.whatsapp.com/send?phone=+541126518411&text= Hola, mi nombre es {{
                          mensajeNombre
                        }} estoy interesado en el lavado de mi mascota el dia Fecha disponible: {{
                          mensajeDia
                        }}/{{ mensajeMes }}"
                        class="fab"
                        target="_blank"
                      >
                        <i class="fa fa-whatsapp my-float"></i>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </td>
    <td>
      <form class="row row-cols-sm-auto">
        <div class="form-body">
          <div class="row">
            <div class="form-holder">
              <div class="form-content">
                <div class="form-items">
                  <h3>Compra de alimentos y envios</h3>
                  <p>¡Selecciona el producto, te lo llevamos</p> 
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-image">
                          <thead>
                            <tr>
                              <th scope="col">Image</th>
                              <th scope="col">Articulo</th>
                              <th scope="col">Precio</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr></tr>

                            <tr *ngFor="let producto of productosMascotas">
                              <td class="w-25">
                                <img
                                  src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg"
                                  class="img-fluid img-thumbnail"
                                  alt="Sheep"
                                />
                              </td>
                              <td>{{ producto.nombre }}</td>
                              <td>{{ producto.precio | currency }}</td>
                              <input class="form-check-input" type="checkbox" [checked]="false"  [value]="producto.nombre"  (change)="onChangeCheck($event)">
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="form-button mt-3">
                    <i
                      style="
                        margin-left: 20%;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                          Arial, sans-serif;
                        font-size: large;
                      "
                      >Envianos tu consulta</i
                      
                    ><link
                      rel="stylesheet"
                      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
                    /><a
                      href="https://api.whatsapp.com/send?phone=+541126518411&text= Hola, estoy interesado en el/los siguientes productos: %0D%0A {{
                        mensajeProducto[0]
                      }} {{mensajeProducto[1]}} {{mensajeProducto[2]}} muchas gracias."
                      class="fab"
                      target="_blank"
                    >
                      <i class="fa fa-whatsapp my-float"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </td>
  </tr>
</div>

<!-- <ngb-alert class="mt-3 mb-0" type="info" [dismissible]="false">
    You must provide the icon for the button. This allows you
    to choose an icon that matches your application's style.
    In this example, the icon is set via a CSS class.
  </ngb-alert> -->

<!-- <div class="col-md-12">
                            <select class="form-select mt-3" required>
                                  <option selected disabled value="">Position</option>
                                  <option value="jweb">Junior Web Developer</option>
                                  <option value="sweb">Senior Web Developer</option>
                                  <option value="pmanager">Project Manager</option>
                           </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                       </div> -->

<!-- <div class="col-md-12 mt-3">
                        <label class="mb-3 mr-1" for="gender">Gender: </label>

                        <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                        <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

                        <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                           <div class="valid-feedback mv-up">You selected a gender!</div>
                            <div class="invalid-feedback mv-up">Please select a gender!</div>
                        </div> -->

<!-- <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label">I confirm that all data are correct</label>
                     <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                    </div> -->
