.botones {
  width: 100%;
  text-align: center;
}

#separar {
  padding: 3%;
  display: inline-block;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #333333;
}

.botones {
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
  cursor:pointer;
}
.botones:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}
.botones:hover:before {
width: 100%;
}